.header{
    width: 1000px;
    /* min-width: 320px; */
    background-color: blue;
    margin: 15px auto;
    padding:  15px;
    border-radius: 10px;
    
}
.header p{
    color: white;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 ;


}

.footer{
    width: 1000px;
    /* min-width: 320px; */
    background-color: blue;
    margin: 15px auto;
    padding:  15px;
    border-radius: 10px;
    bottom: 0;
}
.footer p{
text-align: center;
margin: 0;
color: white;
font-size: 1.3rem;
font-weight: 400;
}